/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and background */
body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    color: white;
    font-family: 'Orbitron', sans-serif; 
    text-align: center;
    position: relative;
    background: url('download.jpg') no-repeat center center fixed; 
    background-size: cover;
    background-attachment: fixed;
    animation: moveBackground 10s linear infinite;
}

/* found online dont ask bout it */
@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* Canvas styling */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;  
    pointer-events: auto;  
}

/* Title styling */
.title {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.6), 0 0 40px rgba(255, 255, 255, 0.7); /* Glowing effect */
    margin-top: 5%;
    z-index: 2;
    color: #ffffff; 
}

.button {
    padding: 14px 40px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 50%;
    color: rgb(0, 0, 0);
    border: 2px solid transparent; 
    transition: all 0.4s ease;
    position: relative;
    z-index: 3;
}
